.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;

}

.navbar-logo-container {
  display: flex;
  justify-content:center;
  width: 25%;
  padding-left: 50px;
}

.navbar-logo {
  display: flex;
  color: white;
  gap: 10px;
  cursor: pointer;
}

.navbar-iconlab {
  color: rgba(30, 221, 30, 0.977)
}


.nav-span {
  padding-top: 10px;
  font-size: 20px;
  color: rgba(30, 221, 30, 0.977);
}

/*  LINKS */

.navbar-links {
  width: 50%;
  display: flex;
  color: white;
  justify-content: space-around;
  font-size: 20px;
}

.navlink {
  transition: transform 0.3s ease;

}

.navlink:hover {
  color: rgba(30, 221, 30, 0.977);
}




/* ICONOS*/

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 25%;
}

.navbar-icons-github {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.navbar-icons-btn {
  all: unset;
  color: rgba(30, 221, 30, 0.977);
  width: 110px;
  height: 30px;
  border: 1px solid rgba(30, 221, 30, 0.977);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.navbar-icons-btn:hover {
  box-shadow: 0 0 12px #22C55E;
  transform: scale(1.05);
}